<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      <b>Description: </b>
    </p>
    <p>
      <b>Price: </b>
    </p>
    <p>
      <b>Seller Id: </b>
    </p>
    <p>
      <b>Email: </b>
    </p>
  </body>
</html>
