<p>
  <b>Seller Name: </b>
  <%= @seller[:name] %>
</p>
<p>
  <b>Seller Id: </b>
  <%= @seller[:id] %>
</p>
<p>
  <b>Email: </b>
  <%= @seller[:email] %>
</p>
<p>
  <b>Phone number: </b>
  <%= @seller[:ph_no] %>
</p>
